<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=" http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="container" layout:fragment="site_content">
  <div class="row mt-5">
    <section class="vh-100" style="background-color:white">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <p><span class="h2">Shopping Cart </span><span class="h4">(1 item in your cart)</span></p>

            <div class="card mb-4" th:each="item:${session.cart}">
              <div class="card-body p-4">

                <div class="row align-items-center">
                  <div class="col-md-2">
                    <img th:src="@{'/view-photo/' + ${item.cosmetics.getImage()}}" class="img-fluid" alt="Generic placeholder image">
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                    <div>
                      <p class="small text-muted mb-4 pb-2">Name</p>
                      <p class="lead fw-normal mb-0"th:text="${item.cosmetics.getName()}" ></p>
                    </div>
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                    <div>
                      <p class="small text-muted mb-4 pb-2">Quantity</p>
                      <p class="lead fw-normal mb-0" th:text="${item.quantity}"></p>
                    </div>
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                    <div>
                      <p class="small text-muted mb-4 pb-2">Price</p>
                      <p class="lead fw-normal mb-0" th:text="${item.cosmetics.getPrice()}"></p>
                    </div>
                    <div>
                      <p class="small text-muted mb-4 pb-2">Удалить</p>
                      <form th:action="@{'/remove/' + ${item.cosmetics.getId()}}" method="post">-->
                        <input type="hidden" name="removeItem" th:value="${item.cosmetics.getId()}" >
                        <button type="submit" class="btn btn-danger">Удалить</button>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                    <div>
                      <p class="small text-muted mb-4 pb-2">Total</p>
                      <p class="lead fw-normal mb-0">$799</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-5">
              <div class="card-body p-4">
                <div class="float-end">
                  <p class="mb-0 me-5 d-flex align-items-center">
                    <span class="small text-muted me-2">Order total:</span> <span class="lead fw-normal"th:text="${total}"></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-light btn-lg me-2">Continue shopping</button>
              <button type="button" class="btn btn-primary btn-lg">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
</html>








